.side-menu-closed {
    display: none;
}

.side-menu-open {
    display: block;
    height: 100%;
    width: 35rem;
    max-width: 100%;
    background-color: blue;
    position: fixed;
    right: 0;
    top: 0;
}

.menu-x-button {
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
    width: 1.5rem;
}

.menu-x-button:hover {
    color: lightblue;
}