.side-menu-closed {
    display: none;
}

.side-menu-open {
    display: block;
    height: 100%;
    width: 50rem;
    max-width: 100%;
    background-color: green;
    position: fixed;
    right: 0;
    top: 0;
}