.main-page {
    background-color: white;
}

.title {
    text-align: center;
    background-color: blue;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

body {
    background-color: white;
}

.game-type-container {
    color: black;
    font-weight: 600;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.game-type-container:hover {
    background-color: lightblue;
}