.game-container {
    color: black;
    font-weight: 600;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #eee;
    height: 6rem;
    margin: 1px;
    display: inline-block;
}

.game-container:hover {
    background-color: #ddd;
}

.container-header {
    display: flex;
    gap: 0.2rem;
}

.container-content {
    display: block;
}