.game-container {
    color: black;
    font-weight: 600;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.game-title:hover {
    background-color: lightblue;
    user-select: none;
}

.dropdown-closed {
    display: none;
}

.dropdown-open {
    display: block;
    background-color: white;
}