.site-title {
    text-align: center;
    background-color: green;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.site-title-slim {
    width: 80%;
}

.site-title-normal {
    width: 100%;
}

.title-text {
    text-align: center;
    order: 0;
}

.menu-button {
    align-self: center;
}

.menu-icon {
    font-size: 1.3rem;
    float: right;
    align-self: center;
    cursor: pointer;
}

.menu-icon:hover {
    color: lightgreen;
}