.site-title {
    text-align: center;
    background-color: green;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
}

.title-text {
    text-align: center;
    order: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-button {
    align-self: center;
}

.menu-icon {
    font-size: 1.3rem;
    float: right;
    align-self: center;
    cursor: pointer;
}

.menu-icon:hover {
    color: lightgreen;
}